build/
cmake-build-*/
*.sln
*.vcxproj*
*.vcxproj.filters
x64/
Debug/
Release/
*.dir/
*.obj
*.pdb
*.ilk
*.exe
*.bin
*.log
*.tlog
*.cache
CMakeCache.txt
CMakeFiles/
Makefile
*.a
*.so
*.dylib

.vscode/
.idea/
*.suo
*.user
*.ncb

*.png